.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c4cde7;
}

.upload-box {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
}
.upload-box button:disabled {
  background-color: #e1e4ec;
  color: #aaa;
}
.upload-box button {
  border: none;
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif;
  /* display: block; */
  padding: 10px 30px;
  background-color: #c4cde7;
  border-radius: 15px;
  margin-top: 2em;
}

.upload-box p {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
  font-family: sans-serif;
  font-weight: 600;
}

.file-types {
  color: grey;
  font-size: 14px;
  margin-top: -10px;
  font-family: sans-serif;
  font-weight: 500;
}

.upload-icon {
  margin-top: 20px;
  padding: 20px;
  border: 2px dashed grey;
  border-radius: 15px;
  display: inline-block;
}
.status {
  font-size: 12px !important;
}

.upload-icon img {
  width: 60px;
  height: auto;
}

.upload-icon:hover {
  cursor: pointer;
  background-color: #f8f8f8;
}

input[type="file"] {
  display: none;
}

.load {
  position: relative;
  width: 100%;
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* loader */
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #000;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #1145df;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
